<template name="App_body">
    <!-- Menu -->
    <div class="ui teal inverted borderless fixed menu">
        <div class="ui container">
            <a href="/" class="header item">
                <img class="logo adaptive-logo" src="/img/logo.png"> Adaptive Bank
            </a>
            <div class="right menu">
                <a class="item">
                    <i class="phone icon"></i> Contact us
                </a>
                <a class="item">
                    <i class="map icon"></i> Find nearest branch
                </a>
                <a class="item">
                    <i class="search icon"></i> Search
                </a>
                {{#if currentUser}}
                    <a href="#" class="active item logout-link">
                        <i class="lock icon"></i> Log out
                    </a>
                {{else}}
                    <a href="{{pathFor 'App.login'}}" class="active item">
                        <i class="lock icon"></i> Log in
                    </a>
                {{/if}}
            </div>
        </div>
    </div>


    <div class="ui main container">
        {{>Template.dynamic template=main }}
    </div>

    <div class="ui inverted teal vertical footer segment">
        <div class="ui center aligned container">
            <div class="ui stackable inverted divided grid">
                <div class="three wide column">
                    <h4 class="ui inverted header">About Us</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Find a branch</a>
                        <a href="#" class="item">Careers</a>
                        <a href="#" class="item">Research</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Banking with us</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Online Banking</a>
                        <a href="#" class="item">Mobile Banking</a>
                        <a href="#" class="item">Security</a>
                        <a href="#" class="item">Rates &amp; Charges</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">Products and services</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Current accounts</a>
                        <a href="#" class="item">Credit cards</a>
                        <a href="#" class="item">Savings</a>
                        <a href="#" class="item">Investments</a>
                        <a href="#" class="item">Mortgages</a>
                        <a href="#" class="item">Loans</a>
                        <a href="#" class="item">Car finance</a>
                        <a href="#" class="item">Insurance</a>
                        <a href="#" class="item">Travel services</a>
                        <a href="#" class="item">Private Banking</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Contact Us</h4>
                    <p>If you encounter any problems, please do not hesitate and contact us</p>
                    <p><i class="inverted phone icon"></i> 01234 567 891011</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <img src="/img/logo.png" class="ui centered mini image">
            <div class="ui horizontal inverted small divided link list">
                <a class="item" href="#">Site Map</a>
                <a class="item" href="#">Contact Us</a>
                <a class="item" href="#">Terms and Conditions</a>
                <a class="item" href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</template>