<template name="Frontpage">
    <img class="ui fluid rounded image frontpage-image" src="/img/frontpage.jpg">

    <div class="ui center aligned three column grid">
        <div class="column">
            <div class="ui fluid large vertical menu">
                <h4 class="ui center aligned icon header">
                    <i class="payment icon"></i> Our Products
                </h4>
                <a class="item">Current accounts</a>
                <a class="item">Credit cards</a>
                <a class="item">Loans</a>
                <a class="item">Savings</a>
                <a class="item">ISAs</a>
                <a class="item">Home insurance</a>
                <a class="item">Motor insurance</a>
                <a class="item">Mortgages</a>
                <a class="item">Investments</a>
                <a class="item">Life insurance</a>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid large vertical menu">
                <h4 class="ui center aligned icon header">
                    <i class="call icon"></i> Help and Support
                </h4>
                <a class="item">Lost or stolen cards</a>
                <a class="item">Find a branch</a>
                <a class="item">Trouble logging on?</a>
                <a class="item">Help with bereavement</a>
                <a class="item">Customer support</a>
                <a class="item">Unrecognised transaction</a>
                <a class="item">PPI complaints</a>
                <a class="item">Rates and charges</a>
                <a class="item">Personal Savings Allowance</a>
                <a class="item">Keep yourself secure</a>
            </div>
        </div>
        <div class="column">
            <div class="ui fluid large vertical menu">
                <h4 class="ui center aligned icon header">
                    <i class="wifi icon"></i> Internet Banking
                </h4>
                <a class="item">Log on to Internet Banking</a>
                <a class="item">Register for Internet Banking</a>
                <a class="item">Online help</a>
                <a class="item">Mobile banking</a>
                <a class="item">Self service</a>
                <a class="item">Have an account with us?</a>
                <a class="item">About online banking</a>
                <a class="item">Help with online statements</a>
                <div class="item">&zwnj;</div>
                <div class="item">&zwnj;</div>
            </div>
        </div>
    </div>
</template>