<template name="Instruction_display">
    {{#each instructions}}
        <div class="ui grid">
            <div class="row">
                <h2>Taskclass: "{{topic}}"</h2>
                <div class="one wide column"></div>
                <button id="task-overview" class="ui green button">
                    <i class="browser icon"></i>
                    Task Overview
                </button>
            </div>
            {{#each learningtasks}}
                <div class="row">
                    <div class="twelve wide column">
                        <h3>Learning task No. {{id}}</h3>
                        {{#each description}}
                            <p>{{this}}</p>
                        {{/each}}
                        {{#if steps}}
                            <h4>Steps:</h4>
                            <ol>
                                {{#each steps}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ol>
                        {{/if}}
                    </div>
                    <div class="four wide column">
                        {{#if jit}}
                            <h4>Supportive Information</h4>
                            <ul>
                                {{#each jit}}
                                    <li>{{this}}</li>
                                {{/each}}
                            </ul>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{/each}}
</template>