<template name="Instruction_welcome">
    <h2>Welcome to our adaptive training programme</h2>
    <div class="ui grid">
        <div class="sixteen wide column">
            With the help of adaptive complexity and adaptive training advice we try to give you a better learning
            experience and teach you the basics of online banking.
        </div>
    </div>

    <div class="ui horizontal divider"></div>

    <div class="ui equal width grid">
        <div class="row">
            <div class="column">
                If you want to specifically choose the task you want to tackle, then please press this button to get to
                the task overview and select your task of choice.
            </div>
            <div class="column">
                Otherwise if you want to continue the training programme where you left off, press here.
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <div class="ui huge buttons">
                    <button id="taskOverviewButton" class="ui button">Task Overview</button>
                    <div class="or"></div>
                    <button id="continueButton" class="ui positive button">Continue</button>
                </div>
            </div>
        </div>
    </div>
</template>