<template name="Instruction_welcome">
    <h2>Welcome to our adaptive training programme</h2>
    <div class="ui grid">
        <div class="sixteen wide column">
            With the help of adaptive complexity and adaptive training advice we try to give you a better learning
            experience and teach you the basics of online banking.
        </div>
    </div>

    <div class="ui horizontal divider"></div>

    <div class="ui equal width grid">
        <div class="row">
            <div class="column">
                If this is your first time that you want to try out our training programme or you want to start from the
                beginning again, then click here to start with your first lesson that will teach you about logging in
                and logging out of the online banking system.
            </div>
            <div class="column">
                Otherwise if you want to continue the training programme where you left off, then log in to your online
                banking account to resume.
            </div>
        </div>
        <div class="row">
            <div class="center aligned column">
                <div class="ui huge buttons">
                    <button id="startNewButton" class="ui button">Start New</button>
                    <div class="or"></div>
                    <button id="continueButton" class="ui positive button">Continue</button>
                </div>
            </div>
        </div>
    </div>
</template>